dist: bionic
language: python

python:
  - '3.8'


before_script:
  - pip install -r requirements.txt
  - pip install --upgrade pip
  



env:
  global:
    - DJANGO_SETTINGS_MODULE="p8.settings.travis"

services:
  - postgresql

script:
  - python manage.py test
