{% extends 'base.html' %}
{% load static %}
 {% block title %} <title>Information compte</title>{% endblock title %}
 {% block header %}

             <header class="masthead" style="background-image: url({% static 'img/bg-account.jpg' %}); height:300px;">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-12 ">
                        <div class="account" >
                                
                        <h1 class="text-uppercase" style="color:#E8A75D;">Ahoy</h1>
                        <h2 class="text-uppercase"style="color:#E8A75D;">{{ user.first_name}}</h2>
                        <hr class="divider my-4" />
                    </div>
                </div>
               </div>
               </div>
                
            </div>
        </header>
        {% endblock header %}

        {% block content %}
        <div class="email" style="height:300px; padding-top: 50px;padding-bottom: 50px;">
            <div class="col-lg-12">
         <h2 class="mail" style="color:#E8A75D;">Votre adresse email est {{ user.email}}</h2>
         <h3 class="mail" style="color:#E8A75D;">Change your password</h3>
     </div>
 </div>
        {% endblock content %}
