{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Enter new password </title>{% endblock title %}
{% block nav %}
           <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
                <div class="container">
                    <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">
                        <img src="{% static 'img/logo_pur_beurre.png' %}" alt="icone entreprise"> Pur Beurre</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  
                </div>
            </nav>
        {% endblock nav %}
 


{% block header %}
<header class="masthead">
	<div class="container h-100">
                    <div class="col-lg-10 align-self-end">
                        <hr class="divider my-4" />
                    </div>
{% if validlink %}

<h4 class="color-writing font-weight-light mb-5" style="color:#E8A75D;"> Créez un nouveau mot de passe </h4>
<div class="card">
 <article class="card-body">
<form class="color-writing" style="color:#E8A75D;" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Changement mot de passe">
</form>
</article>
</div>
</aside>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
</div>

</header>
{% endblock %}