{% extends 'base.html' %}

{% block title %}Enter new password{% endblock title %}

 


{% block header %}
<header class="masthead">
	<div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <hr class="divider my-4" />
                    </div>
{% if validlink %}

<h1>Set a new password!</h1>
<div class="card">
 <article class="card-body">
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>
</article>
</div>
</aside>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
</div>
</div>
</header>
{% endblock %}