{% extends 'base.html' %}
{% load static %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}


{% block content %}
<div class="row">
    <aside class="col-sm-4">
    </aside> <!-- col.// -->
    <aside class="col-sm-4">
        <h2>Mot de passe oublié?</h2>
        <p>Introduisez votre email ci-dessous</p>
        <div class="card">
            <article class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}
                    <button type="submit" id="button-send-reset">Envoyer</button>
                </form>
            </article>
        </div>
    </aside>
    <aside class="col-sm-4">
    </aside> <!-- col.// -->
</div>
{% endblock %}
