{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Page connection</title>{% endblock title %}
 {% block nav %}
           <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
                <div class="container">
                    <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">
                        <img src="{% static 'img/logo_pur_beurre.png' %}" alt="icone entreprise"> Pur Beurre</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  
                </div>
            </nav>
        {% endblock nav %}
     
     


   {% block header %}
<header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                      <h4 class="color-writing font-weight-light mb-5" style="color:#E8A75D;"> Connectez-vous </h4>
                        <form class="color-writing" style="color:#E8A75D;"action="{% url 'signin' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />




<a class="color-writing" style="color:#E8A75D;"href="{% url 'signup' %}"> Nouvel utilisateur? Inscrivez-vous ici </a>

</form>
                    </div>
                </div>
            </div>
        </header>

    {% endblock header %}

      {% block footer %}
        <footer class="bg-light flex-shrink-0" style="padding-bottom: 0px; padding-top: 0px;">
            <div class=" container nav-link"> <div class="mention" style="text-align: right; margin-top: 30px;">Copyright © 2020 - Yann Hamdi</div>
            <p class="mention nav-link"><a href="{%url 'mention'%}">Mentions légales</a>
        </footer>
        {% endblock footer %}