{% block 'base.html' %}
{% load static %}
{% block title %} <title>Compte</title>{% endblock title %}
 {% block header %}

             <header class="masthead" style="background-image: url({% static 'img/bg-account.jpg' %}); height:100px;">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-12 ">
                        <div class="account">
                                
                            <h1 class="text-uppercase" style="color:#E8A75D;">Vos recherches</h1>
                            <hr class="divider my-4" />
                        </div>
                    </div>
                 </div>
                </div>
                
           
            </header>
{% endblock header %}


{% block content %}
        <section class="page-section bg-primary" id="about" style=" width: 100%; padding:15px;">
                    <div class="row" style="margin-left: 15px;">
                      {% for favorite in page_obj %}
                    <div class="results col-md-4 col-sm-6">
                          <h3 class=" mb-4" style="display: block; color: #E8A75D;"> Aliment recherché </h3>
                        <p><a class=" mb-4" style="display: block; color: #E8A75D;" href="{% url 'lire' favorite.product_searched.id_code %}">{{favorite.product_searched.food_name }}</a></p>
                        <p><img src= {{ favorite.product_searched.image_url }} style="height:100px; width:100px;border-radius: 10px; position: relative; z-index: 1"></p>
                    <div class="favori"><h4> {{ favorite.product_searched.nutrition_grade }}</h4></div>
                        <h3 class=" mb-4" style="display: block; color: #E8A75D;"> Aliment trouvé </h3>
                        <p><a class=" mb-4" style="display: block; color: #E8A75D;" href="{% url 'lire' favorite.product_substitute.id_code %}">{{ favorite.product_substitute.food_name}}</a></p>
                        <p><img src= {{ favorite.product_substitute.image_url }} style="height:100px; width:100px;border-radius: 10px;position: relative;z-index: 1"></p> 
                     <div class="favori"><h4> {{ favorite.product_substitute.nutrition_grade }}</h4></div>
        

                    </div>
  
        
{% empty %}
         <h1 class=" mb-4 col-12 text-center" style="color: #E8A75D;">Aucun article.</h1>
                     {% endfor %} 
                    </div>
                    <div class="pagination">
                        <span class="step-links">
                           {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
{% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> </div>
</section>
{% endblock content %}
{% endblock %}