<h1> Liste des 5 derniers produits</h1>


{% for article in page_obj %}
    <div class="article">
    	<h3> {{ article.food_name }} </h3>
    	<p><a href="{% url 'lire' article.id_code %}">Lire la suite</a></p>
    	<h4> {{ article.nutrition_grade }} </h4>
    	<p>
    	<img src= {{ article.image_url }}>
        </p>
    </div>
{% empty %}
    <p>Aucun article.</p>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>