{% extends 'base.html' %}
{% load static %}
 {% block header %}

             <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase color-writing" style="color:#E8A75D;">Du gras oui mais de qualité</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <h2 class="text-white-75 color-writing font-weight-light mb-5" style="color:#E8A75D;"> Trouvez un produit de substitution pour ceux que vous consommez de tous les jours </h2>
                        <form id="form" action="{% url 'search' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
                    </div>
                </div>
            </div>
        </header>
        {% endblock header %}
         {% block content %}
        <section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0 color-writing" style="color: #E8A75D;">Colette et Remy</h2>
                        <hr class="divider light my-4" />
                        <p class="mb-4 color-writing" style="color:#E8A75D;">Notre rapport à l’alimentation a évolué au fil du temps. Du besoin primaire et ancestral de manger, nous sommes passés à une relation plus culturelle, sociale, philosophique, artistique. Alors, pourquoi ne pas joindre l'utilise l'agréable. Ensemble... Mangeons sain!!! </p>
                        <img src="{% static 'img/colette.png' %}" alt="image de Colette">
                        <img src="{% static 'img/remy.png' %}" alt="image de Remy">
                        
                    </div>
                </div>
            </div>
        </section>
       
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0 color-writing" style="color: #E8A75D;">Contactez-nous</h2>
                        <hr class="divider my-4" />
                        <p class="text-muted mb-5">Envie de partager avec nous, nous sommes là!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                        <div>06 57 80 94 10</div>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i
                        ><!-- Make sure to change the email address in BOTH the anchor text and the link target below!--><a class="d-block" href="mailto:hamdiyann@hotmail.com">contact@nutella.com</a>
                    </div>
                </div>
            </div>
        </section>
        {% endblock content %}