{% extends 'base.html' %}
{% block title %}Faites votre recherche{% endblock title %}
{% block content %}
<form action="{% url 'search' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% if user.is_authenticated  %}
<h3> M. {{ user.first_name }} Veuillez choisir un élément à substituer </h3>
<a href="{% url 'signout'%}"> Signout </a>
&nbsp;<a href="{% url 'display_account' %}"> Voir vos recherches </a>
{% else %}
<a href="{% url 'signin' %}"> Signin </a> {% endif %}
{% endblock content %}